
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.container{
    position: absolute;
}
#clock{
    position: relative;
    top:170px;
    left:80px

}
body {
  background:linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  color: rgb(204, 231, 204);
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 25px;
  color:rgb(33, 140, 228);
  
}
img{
    height:300px;
    width:300px;
}