* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #FDBB2D, #3A1C71);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 25px;
  color: #218ce4;
}



#clock {
  position: relative;
  top: 170px;
  left: 80px;
}

img {
  width: 300px;
  height: 300px;
}
